
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Login-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Registration-Form-with-Photo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>
<body>

<div class="register-photo" style="background-color: rgb(255,255,255);">

    <h4 class="text-center"><strong>Welcome on MYBANK, Get Ready to be our new MANAGER</strong></h4>
    <div class="form-container">
        <!--
       div class="image-holder" style="background-image: url(&quot;/assets/img/bump-collaboration-colleagues-1068523.jpg&quot;);width: 420px;background-size: cover;background-repeat: space;"></div>
    -->
        <!--<div class="image-holder>
            <img  src="static/assets/img/bitcoin.jpg">
        </div>-->
        <form method="post" th:object="${manager}" th:action="@{/register/manager}">
            <h4 class="text-left"><strong>Create</strong> an account.</h4>
            <div class = "form-group row ">
                <div class="col-sm-8">
                    <span class="text-danger" th:errors="*{global}"> </span>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{name}" placeholder="Name" required=""></div>
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{surname}" placeholder="Surname" required=""></div>
            <div class="form-group">
                <input class="form-control" type="Date" th:field="*{birthday}" placeholder="birthday" required=""></div>
            <div class="form-group">
                <div class="form-group">
                    <input class="form-control" type="text" th:field="*{profession}" placeholder="profession" required=""></div>
                <div class="form-group">
                    <div class="form-group">

                        <select class="form-control" th:value="*{matrimonial_status}" placeholder="matrimonial status">
                            <option disabled="disabled" selected="selected"></option>
                            <option > Marié</option>
                            <option >Célibataire</option>
                            <option >divorcé(e)</option>
                            <option >Veuf(ve)</option>

                        </select>


                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <input class="form-control" type="text" th:field="*{address}" placeholder="address" required="">


                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <input class="form-control" type="email" th:field="*{email}" placeholder="Email" required=""></div>
                            <div class="form-group">
                                <div class="form-group">
                                    <input class="form-control" type="text" th:field="*{phone_number}" placeholder="phone number" required=""></div>

                                <div class="form-group">
                                    <input class="form-control" type="text" th:field="*{cni}" placeholder="cni" required=""></div>


                                <div class="form-group">
                                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" required="">I agree to the license terms.</label></div>
                                </div>
                                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" >Next</button></div>
                                <a class="already" th:href="@{/login}">You already have an account? Login here.</a></form>
    </div>
</div>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>






