
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>create account enterprise</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Login-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Registration-Form-with-Photo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body>
<div class="register-photo" style="background-color: rgb(255,255,255);">
    <h4 class="text-center"><strong>Complete registration</strong></h4>
    <div class="form-container" style="width: 700px;">

        <form class="validatedForm"  th:object="${manager}" method="post" th:action="@{/register/manager/step-2}" style="width: 500px "  ><!--  th:action="@{/register/client/step-3}"  -->

            <input type="hidden" th:field="*{email}" required="required">
            <input type="hidden" th:field="*{name}" required="required">
            <input type="hidden" th:field="*{surname}">
            <input type="hidden" th:field="*{profession}" >
            <input type="hidden" th:field="*{matrimonial_status}">
            <input type="hidden" th:field="*{address}">
            <input type="hidden" th:field="*{phone_number}">
            <input type="hidden" th:field="*{cni}">
           <!-- <input type="hidden" th:field="*{birthday}">-->
            <div class = "form-group row ">
                <div class="col-sm-8">
                    <!-- <span class="text-danger" th:errors="*{global}"> </span>-->
                </div>
            </div>
             <div class="form-group">
                  <input class="form-control" id="password" type="password" name="password" placeholder="Password" required="required" min="6">
                  <div class="col-sm-8">
                      <!--<span class="text-danger" th:errors="*{password}"> </span>-->
                  </div>
              </div>
              <div class="form-group">
                  <input class="form-control" id="repassword" type="password" name="repassword" placeholder="Password (repeat)" required="required" min="6">
              </div>
            <div class="form-group"><button class="btn btn-primary btn-block text-center" type="submit">GO TO DASHBOARD
                </button></div>
        </form>
    </div>
</div>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    jQuery('.validatedForm').validate({
        rules : {
            password : {
                minlength : 5
            },
            repassword : {
                minlength : 5,
                equalTo : "#password"
            }
        }
    })
</script>

</body>

