<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <head>
        <title>
Mybank Online
        </title>
        <link  th:href="@{/assetsdashboard-client/css/Style.css}"  rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>

            <div class="main">
               <!-- <div class="logo">
                    <img th:src="@{image/logo.png}">
                </div>-->
                <ul>
                    <li class="active"> <a href="#"> Home</a> </li>
                    <li> <a href="#"> Services</a> </li>
                    <li> <a href="#"> About</a> </li>
                    <li> <a href="#"> Contact</a> </li>
                    <li> <a th:href="@{/login}"> Se Connecter</a> </li>
                </ul>
            </div>
            <div class="title">
                <h1>MYBANK ONLINE</h1>
            </div>

            <div class="button">
                <a th:href="@{/register/client}" class="btn"> S'INSCRIRE</a>

                <a href="#" class="btn">LEARN MORE</a>
            </div>
        </header>

    </body>
</html>