@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;

}

body{
    background: url('../image/euro.jpg') no-repeat top  center;
    background-size: cover ;
    height: 100vh;
    
}

.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px ;


}

.client-form{
    max-width: 1000px; ;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px ;
    border-radius:5px;
    display: flex;
    box-shadow: 0 0 10px;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,.msg{
    width: 48%;
}

.input-fields .input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border:0;
    border-bottom: 2px  solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}

.msg textarea{
    height: 212px;


} 
::-webkit-input-placeholder{
color : #c5ecfd;

}

/*::-moz-input-placeholder{
    color : #c5ecfd;
}*/

::-webkit-input-placeholder{
        color : #c5ecfd;
}

        .btn{
            background:#39b7dd ;
            text-align: center;
            padding:15px ;
            border-radius: 5px;
            color:#fff;
            cursor: pointer;
            text-transform:uppercase ;


        }

@media screen and (max-width: 600px){
            .client-form{
               flex-direction:column ;
            }
            .msg textarea{
                height: 80px;
            }
            .input-fields,.msg{
                width: 100%;
            }
        }

ul{
    list-style-type: none;
    float: right;
    margin-top: 25px ;
}

ul li{
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding:5px 20px;
    border:1px solid transparent  ;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color:#fff;
    color: #000;


}

ul li.active a{
    background-color: #fff;
    color:#000;
}