<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>liste des opérations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Accordions represent collapsable component with extended functionality.">
    <meta name="msapplication-tap-highlight" content="no">
        <link href="./main.css" rel="stylesheet">
<!--        Le Style ci dessous permet d'enlever le footer pendnat le print-->
        <!--<style type="text/css" media="print">
            @page
            {
                size: auto;   /* auto is the initial value */
                margin: 2mm;  /* this affects the margin in the printer settings */
            }
        </style>-->
        <style type="text/css">
            body{
                background-image: url("/assetsdashboard-client/image/bank.jpg");
            }
            input:focus{
                outline: none;
            }
            .blockboutton{
                display: flex;
                justify-content: space-around;
                flex-direction: row;
            }
            .card{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 91%;
            }

            a{
                color: white;
                text-decoration: none;
            }

            button{
                background-color: black;
                color: white;
            }
        </style>
    </head>
    <body onbeforeprint="ExpandAll()" onafterprint="HideAll()">
    <div class="col-md-8">
      <!-- <div class="row">
            <div class="col ml-3 mt-3">
                <button type="button" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown" class="mb-2 mr-2 dropdown-toggle btn btn-primary">Projet</button>
                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 33px, 0px);">
                    <button type="button" tabindex="0" class="dropdown-item">Menus</button>
                    <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                    <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                </div>
            </div>
            <div class="col mr-3 mt-3">
                <h3><span onclick="window.print()" class="pe-7s-print pull-right" title="Imprimer le document"></span></h3>
            </div>
        </div>-->
        <div id="accordion" class="accordion-wrapper mb-3 mt-3 blockboutton">

            <div class="card">
                <div class="card">
                    <div id="headingOne" class="card-header">
                        <button type="button" data-toggle="collapse" data-target="#collapseOne5" aria-expanded="true" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block">
                            <h5 class="m-0 p-0"><a  th:href="@{/register/depot}">faire un depot</a></h5>
                        </button>
                    </div>
                    <!-- <div data-parent="#accordion" id="collapseOne5" aria-labelledby="headingOne" class="collapse ui-accordion-content">
                         <div class="card-body bg-light">
                             <div class="mb-3 card">
                                 <div class="card-body"><h5 class="card-title">Tableau récapitulatif </h5>
                                     <table class="mb-0 table table-sm">
                                         <thead>
                                         <tr>
                                             <th>#</th>
                                             <th>First Name</th>
                                             <th>Last Name</th>
                                             <th>Telephone</th>
                                         </tr>
                                         </thead>
                                         <tbody>
                                         <tr>
                                             <th scope="row">1</th>
                                             <td>Mark</td>
                                             <td>Otto</td>
                                             <td>659</td>
                                         </tr>
                                         <tr>
                                             <th scope="row">2</th>
                                             <td>Jacob</td>
                                             <td>Thornton</td>
                                             <td>644</td>
                                         </tr>
                                         <tr>
                                             <th scope="row">3</th>
                                             <td>Larry</td>
                                             <td>the Bird</td>
                                             <td>699</td>
                                         </tr>
                                         </tbody>
                                     </table>
                                 </div>
                             </div>
                         </div>
                     </div>-->
                </div>

            <div class="card">
                <div id="headingFive" class="card-header">
                    <button type="button" data-toggle="collapse" data-target="#collapseOne5" aria-expanded="true" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block">
                        <h5 class="m-0 p-0"><a th:href="@{/register/retrait}">faire un retrait</a></h5>
                    </button>
                </div>
               <!-- <div data-parent="#accordion" id="collapseOne5" aria-labelledby="headingOne" class="collapse ui-accordion-content">
                    <div class="card-body bg-light">
                        <div class="mb-3 card">
                            <div class="card-body"><h5 class="card-title">Tableau récapitulatif </h5>
                                <table class="mb-0 table table-sm">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Telephone</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>659</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>644</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>699</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="card">
                <div id="headingTwo" class="b-radius-0 card-header">
                    <button type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="false" aria-controls="collapseTwo" class="text-left m-0 p-0 btn btn-link btn-block">
                        <h5 class="m-0 p-0"><a th:href="@{/register/virement}">faire un virement</a></h5>
                    </button>
                </div>
                <!--<div data-parent="#accordion" id="collapseOne2" class="collapse ui-accordion-content">
                    <div class="card-body bg-light">
                        <div class="main-card mb-3 card">
                            <div class="card-body"><h5 class="card-title">Tableau récapitulatif</h5>
                                <div class="table-responsive">
                                    <table class="mb-0 table">
                                        <thead>
                                        <tr>
                                            <th>Actions</th>
                                            <th>Intitulé de l'indicateur</th>
                                            <th>Objectif escompté</th>
                                            <th>Année</th>
                                            <th>Objectif atteint en Juin</th>
                                            <th>Objectif atteint en fin d'année</th>
                                            <th>Ecart</th>
                                            <th>Commentaire</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row"><button class="mb-2 mr-2 btn btn-primary">Button</button></th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="card">
                <div id="headingThree" class="card-header font-icon-wrapper">
                    <button type="button" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="false" aria-controls="collapseThree" class="text-left m-0 p-0 btn btn-link btn-block">
                        <h5 class="m-0 p-0"><a th:href="@{/register/pret}">faire un prêt</a></h5>
                    </button>
                </div>
               <!-- <div data-parent="#accordion" id="collapseOne3" class="collapse ui-accordion-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 ml-3 border-right">
                                <div class="position-relative form-group">
                                    <label for="key" class="">Key :</label>
                                    <input id="key" type="text" class="border-0" readonly>
                                </div>
                                <div class="position-relative form-group">
                                    <label for="key2" class="">Key2 :</label>
                                    <input id="key2" type="text" class="border-0" readonly>
                                </div>
                            </div>
                            <div class="col">
                                <div class="position-relative form-group">
                                    <label for="key3" class="">Key3 :</label>
                                    <input id="key3" type="text" class="border-0" readonly>
                                </div>
                                <div class="position-relative form-group">
                                    <label for="key4" class="">Key4 :</label>
                                    <input id="key4" type="text" class="border-0" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>

    <script type="text/javascript" th:src="@{/assets1/scripts/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/assets1/scripts/main.js}"></script>
    <script type="text/javascript">
            function ExpandAll(){
                $(".ui-accordion-content").show();
            }
            function HideAll(){
                location.reload();
            }
    </script>
    </body>
</html>
