
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete an account</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Login-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Registration-Form-with-Photo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">

 </head>
 <body>

 <div class="register-photo" style="background-color: rgb(255,255,255);">
     <div class="form-container">
         <!--<div class="image-holder" style="background-image: url(&quot;/assets/img/bump-collaboration-colleagues-1068523.jpg&quot;);width: 420px;background-size: cover;background-repeat: space;"></div>-->
        <!--<div class="image-holder>
            <img  src="static/assets/img/bitcoin.jpg">
        </div>-->

        <!-- <form class="validatedForm"  th:object="${client}" method="post" style="width: 500px " th:action="@{/register/demand}"  >-->


              <form method="post" th:object="${demand}" th:action="@{/register/demand}">
                  <h4 class="text-left"><strong>Request</strong> to delete an account.</h4>
                  <div class = "form-group row ">
                      <div class="col-sm-8">
                          <span class="text-danger" th:errors="*{global}"> </span>
                      </div>
                  </div>
                  <div class="form-group">
                      <input class="form-control" type="text" th:field="*{name}" placeholder="your name" required=""></div>
                  <!--<div class="form-group">
                      <input class="form-control" type="text" th:field="*{surname}" placeholder="Surname" required=""></div>-->
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{accountNumber}" placeholder="your account Number" required=""></div>
            <!--<div class="form-group">
                <input class="form-control" type="Date" th:field="*{birthday}" placeholder="birthday" required=""></div>
            <div class="form-group">-->
                <div class="form-group">
                    <input class="form-control" type="text" th:field="*{motif_suppression}" placeholder="your reason" required=""></div>
                <div class="form-group">
                    <div class="form-group">

                       <!-- <select class="form-control" name="motif status" placeholder="motif status">
                            <option disabled="disabled" selected="selected" th:value="*{motif status}"  ></option>
                            <option th:value="*{motif_status}"> Je ne suis plus interessé(e) </option>
                            <option th:value="*{motif_status}">Je ne suis pas satisfait(e) du service</option>

                        </select>-->


                    </div>
            <!--<div class="form-group">
                <div class="form-group">
                    <input class="form-control" type="text" th:field="*{address}" placeholder="address" required="">


                </div>
                <div class="form-group">
                    <div class="form-group">
                        <input class="form-control" type="email" th:field="*{email}" placeholder="Email" required=""></div>
                    <div class="form-group">
                        <div class="form-group">
                            <input class="form-control" type="number" th:field="*{phone_number}" placeholder="phone number" required=""></div>

                        <div class="form-group">
                            <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" required="">I agree to the license terms.</label></div>
                        </div>-->
                        <div class="form-group"><button class="btn btn-primary btn-block" type="submit" >Submit your request</button></div>
            <!--<a class="already" th:href="@{/login}">You already have an account? Login here.</a> --></form>
</div>
</div>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    jQuery('.validatedForm').validate({
        rules : {
            password : {
                minlength : 5
            },
            repassword : {
                minlength : 5,
                equalTo : "#password"
            }
        }
    })
</script>
</body>
</html>







<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>create account enterprise</title>
<link rel="stylesheet" th: href="@{/../static/assets/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/fonts/ionicons.min.css}">
<link rel="stylesheet" th:href="@{../../static/assets/css/Login-Form-Clean.css}">
<link rel="stylesheet" th:href="@{../../static/assets/css/Registration-Form-with-Photo.css}">
<link rel="stylesheet" th:href="@{../../static/assets/css/styles.css}">
</head>




<body>
<div class="register-photo" style="background-color: rgb(255,255,255);">
<div class="form-container">
    <div class="image-holder" style="background-image: url(&quot;assets/img/bump-collaboration-colleagues-1068523.jpg&quot;);width: 420px;background-size: cover;background-repeat: space;"></div>
    <form method="post"  th:object="${client}" th:action="@{/register/client}">
        <h4 class="text-left"><strong>Create</strong> an account.</h4>
        <div class="form-group">
            <input class="form-control" type="email" th:field="*{name}" placeholder="Name" required=""></div>
        <div class="form-group">
            <input class="form-control" type="email" th:field="*{surname}" placeholder="Surname" required=""></div>
        <div class="form-group">
            <input class="form-control" type="email" th:field="*{birthday}" placeholder="Email" required=""></div>
        <div class="form-group">
            <div class="form-group">
                <input class="form-control" type="email" th:field="*{profession}" placeholder="Email" required=""></div>
            <div class="form-group">
                <div class="form-group">
                    <input class="form-control" type="email" th:field="*{matrimonial_Status}" placeholder="Email" required=""></div>
                <div class="form-group">
                    <div class="form-group">
                        <input class="form-control" type="email" th:field="*{address}" placeholder="Email" required=""></div>
                    <div class="form-group">
                        <div class="form-group">
                            <input class="form-control" type="email" th:field="*{Email}" placeholder="Email" required=""></div>
                        <div class="form-group">
                            <div class="form-group">
                                <input class="form-control" type="email" th:field="*{phoneNumber}" placeholder="Email" required=""></div>
                            <div class="form-group">
                                <div class="form-group">
                                    <input class="form-control" type="email" th:field="*{cni}" placeholder="Email" required=""></div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <input class="form-control" type="email" th:field="*{photo}" placeholder="Email" required=""></div>
                                    <div class="form-group">
            <div class="form-check">
                <label class="form-check-label"><input class="form-check-input" type="checkbox" required="">I agree to the license terms.</label></div>
        </div>
        <div class="form-group"><a class="btn btn-primary btn-block" role="button" th:href="@{client-registration-step-2.html}">Join us</a></div><a class="already" th:href="@{login.html}">You already have an account? Login here.</a></form>
</div>
</div>
<script th:src="@{../../static/assets/js/jquery.min.js}"></script>
<script th:src="@{../../static/assets/bootstrap/js/bootstrap.min.js}"></script>
</body>-->

