





<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>delete account enterprise</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Login-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Registration-Form-with-Photo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body>
<div class="register-photo" style="background-color: rgb(255,255,255);">
    <h4 class="text-center"><strong>Confirm demand of suppression</strong></h4>
    <div class="form-container" style="width: 700px;">

        <form class="validatedForm"   >


            <h4 class="text-center"><strong>Your demand of suppression has been submitted, please wait for the response</strong></h4>


           <!-- <div class="form-group"><button class="btn btn-primary btn-block text-center" type="submit">NEXT
            </button></div>-->
        </form>
    </div>
</div>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>


</body>

</html>



<!-- le controller-->

<!--@PostMapping("/client/step-final")

public String submitRegistrationTotheBackend(@Valid @ModelAttribute("client") ClientDto clientDto){

log.info("POST/register/client/step-final called");

System.out.println(clientDto.toString());

/* if (Files.exists(this.root1.resolve(cni.getOriginalFilename())) == false) {
filesStorageService.save(cni);
}

if (Files.exists(this.root1.resolve(photo.getOriginalFilename())) == false) {
filesStorageService.save(photo);
}

if (Files.exists(this.root1.resolve(localisation.getOriginalFilename())) == false) {
filesStorageService.save(localisation);
}
*/-->

<!--
//this.clientDto= clientDto;
try{
final Client client = clientService.createClient(clientDto);
return "/client/ConfirmDemandRegistration";

}
catch (Exception e){
e.printStackTrace();
}
return "client/client-registration-step-3";
}-->
