<!--<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>create account enterprise</title>
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../static/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../../static/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../../static/assets/css/styles.css">
</head>

<body>
    <div class="register-photo" style="background-color: rgb(255,255,255);">
        <div class="form-container" style="width: 700px;">
            <form method="post" style="width: 500px;">
                <h4 class="text-center"><strong>Complete registration</strong></h4>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)"></div>
                <div class="form-group"><button class="btn btn-primary btn-block text-center" type="submit">Go to the dashboard</button></div>
            </form>
        </div>
    </div>
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>-->





<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>create account enterprise</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Login-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Registration-Form-with-Photo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body>
<div class="register-photo" style="background-color: rgb(255,255,255);">
    <h4 class="text-center"><strong>Form Condition Use</strong></h4>
    <div class="form-container" style="width: 700px;">

        <form class="validatedForm"  th:object="${client}" method="post" style="width: 500px " th:action="@{/register/client/step-final}" enctype="multipart/form-data" ><!--th:object="${company}" th:action="@{/register/company/step-2}"-->

         <!-- < <div class="form-group">
                <input class="form-control-file" type="file" name="file" th:field="*{cni}" placeholder="cni" required="">
            </div>

            <div class="form-group">
                <input class="form-control-file" type="file" name="file" th:field="*{photo}" placeholder="photo" required="">
            </div>

            <div class="form-group">
                <input class="form-control-file" type="file" name="file" th:field="*{localisation}" placeholder="localisation" required="">
            </div>-->
            <input type="hidden" th:field="*{email}" required="required">
            <input type="hidden" th:field="*{name}" required="required">
            <input type="hidden" th:field="*{surname}">
            <input type="hidden" th:field="*{profession}" >
            <input type="hidden" th:field="*{matrimonial_status}">
            <input type="hidden" th:field="*{address}">
            <input type="hidden" th:field="*{phone_number}">
            <input type="hidden" th:field="*{cni}">
            <input type="hidden" th:field="*{photo}">
            <input type="hidden" th:field="*{localisation}">

            <p>
                les conditions d'utilisation
                le client ne doit pas retirer une somme de plus 100000
            </p>

            <div class="form-group">
                <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" required="">I agree to the license terms.</label></div>
            </div>





            <div class="form-group"><button class="btn btn-primary btn-block text-center" type="submit">Submit</button></div>
        </form>
    </div>
</div>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    jQuery('.validatedForm').validate({
        rules : {
            password : {
                minlength : 5
            },
            repassword : {
                minlength : 5,
                equalTo : "#password"
            }
        }
    })
</script>

</body>

</html>