<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>create account enterprise</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Login-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Registration-Form-with-Photo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body>
    <div class="login-clean" style="background-color: rgb(255,255,255);">
        <form method="post" th:object="${account}" th:action="@{/login/listoperation}" style="height: 450px">


            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-barcode-outline"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="email" th:field="*{status}" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" th:field="*{accountNumber}" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a></form>
    </div>
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>