





<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>create account enterprise</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Login-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Registration-Form-with-Photo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<!--<span th:text="${depot.montant}"></span>
th:object="depot"-->

<body  >
<div class="register-photo" style="background-color: rgb(255,255,255);">
    <h4 class="text-center"><strong>Complete registration</strong></h4>
    <div class="form-container" style="width: 700px;">

        <form class="validatedForm"   >


            <h4 class="text-center"><strong>The transfert of <span th:text="${virement.montant}"></span>
                has been done in the account <span th:text="${virement.receiveraccountNumber}"></span>   </strong></h4>


            <!--            <div class="form-group"><button class="btn btn-primary btn-block text-center" type="submit">NEXT-->
            <!--            </button></div>-->
        </form>
    </div>
</div>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>


</body>

</html>