<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <title>Mybank online</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0 ,minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{assetsdashboard/assets/images.png}">


    <!-- Importation de bibliotheques-->
    <link rel="stylesheet"   type="text/css"  th:href="@{assetsdashboard/Chart.js-2.9.4/dist/Chart.min.css}">
    <link rel="stylesheet"   type="text/css"   th:href="@{assetsdashboard/fontawesome-free-5.15.1-web/css/all.min.css}">
    <link rel="stylesheet"   type="text/css"   th:href="@{assetsdashboard/css/style.css}">

    <!-- Fin Importation de bibliotheques-->

</head>
<body class="overlay-scrollbar ">
<!-- Debut NavBar-->
<div class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" >
                <i class="fas fa-bars toggle"  onclick="collapseSidebar()"></i>

            </a>
        </li>
        <li class="nav-item">
            <img th:src="@{assetsdashboard/assets/image/images.png}" alt="GessaLogo" class="logo">
        </li>

    </ul>
    <form class="navbar-search" >


        <input type="text" name="search" class="navbar-search-input" placeholder="vous cherchez...">
        <i class="fas fa-search"></i>
    </form>
    <ul class="navbar-nav nav-right">
        <li class="nav-item">
            <a href="#" title="modifier theme" class="nav-link" onclick="switchTheme()">
                <i class="fas fa-moon dark-icon"></i>
                <i class="fas fa-sun light-icon"></i>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" title="notifications">
                <i class="fas fa-bell dropdown-toggle" data-toggle="notification-menu"></i>
                <span class="navbar-badge">15</span>
            </a>
            <ul id="notification-menu"  class="dropdown-menu notification-menu">
                <div class="dropdown-menu-header">
            <span>
              Notifications
            </span>
                </div>
                <div class="dropdown-menu-content overlay-scrollbar">
                    <li class="dropdown-menu-item">
                        <a href="#" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-gift"></i>
                            </div>
                            <span> Bienvenue sur Gessa l'appli de gestion des salaires.
                  <br>
                  <span> 30/12/2020</span>
                </span>

                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a href="#" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-tasks"></i>
                            </div>
                            <span> Bienvenue sur Gessa l'appli de gestion des salaires.
                  <br>
                  <span> 30/12/2020</span>
                </span>

                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a href="#" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-gift"></i>
                            </div>
                            <span> Bienvenue sur Gessa l'appli de gestion des salaires.
                  <br>
                  <span> 30/12/2020</span>
                </span>

                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a href="#" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-tasks"></i>
                            </div>
                            <span> Bienvenue sur Gessa l'appli de gestion des salaires.
                  <br>
                  <span> 30/12/2020</span>
                </span>

                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a href="#" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-tasks"></i>
                            </div>
                            <span> Bienvenue sur Gessa l'appli de gestion des salaires.
                  <br>
                  <span> 30/12/2020</span>
                </span>

                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a href="#" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-tasks"></i>
                            </div>
                            <span> Bienvenue sur Gessa l'appli de gestion des salaires.
                  <br>
                  <span> 30/12/2020</span>
                </span>

                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a href="#" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-tasks"></i>
                            </div>
                            <span> Bienvenue sur Gessa l'appli de gestion des salaires.
                  <br>
                  <span> 30/12/2020</span>
                </span>

                        </a>
                    </li>

                </div>
                <div class="dropdown-menu-footer">
            <span>
              Consulter les notifications
            </span>
                </div>
                <li ></li>
            </ul>
        </li>
        <li class="nav-item">
            <div class="avatar dropdown">
                <img src="image/avatar.png" title="profil" alt="user-image" class="dropdown-toggle" data-toggle="user-menu">
                <ul  id="user-menu"  class="dropdown-menu">
                    <li class="dropdown-menu-item">
                        <a href="#nowwhere" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-user-tie"></i>
                            </div>

                            <span>Profil</span>
                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a href="#nowwhere" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-cog"></i>
                            </div>

                            <span>Parametres</span>
                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a href="#nowwhere" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-sign-out-alt"></i>
                            </div>

                            <span>Deconnexion</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</div>

<!-- Fin NavBar-->
<!-- Debut SideBar-->
<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link active">
                <div>
                    <i class="fas fa-tachometer-alt"></i>
                </div>
                <span>
              Tableau de bord
            </span>
            </a>
        </li>
        <li class="sidebar-nav-item">
          <a th:href="@{/dashboard/listaccounts}" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-users"></i>
                </div>
                <span>
             Consulter liste de demande de création de compte
            </span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a th:href= "@{/dashboard/listdemands}" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-money-check"></i>
                </div>
                <span>
             Demande de suppression
            </span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-history"></i>
                </div>
                <span>
              Historique
            </span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-chart-line"></i>
                </div>
                <span>
            Statistiques
            </span>
            </a>
        </li>
    </ul>

</div>
<!-- Fin SideBar-->

<!-- Debut contenu principal-->
<div class="wrapper">
    <div class="row">
        <div class="col-3 col-m-6 col-sm-6">
            <div class="counter bg-primary">
                <i class="fas fa-tasks "></i>
                <h3>300 millions</h3>
                <p>Chiffre d'affaire</p>

            </div>

        </div>
        <div class="col-3 col-m-6 col-sm-6">
            <div class="counter bg-warning">
                <i class="fas fa-users"></i>
                <h3>30</h3>
                <p>Nombre de salariés</p>

            </div>

        </div>
        <div class="col-3 col-m-6 col-sm-6">
            <div class="counter bg-success">
                <i class="fas fa-check-circle "></i>
                <h3>20 millions</h3>
                <p>Depenses</p>

            </div>

        </div>
        <div class="col-3 col-m-6 col-sm-6">
            <div class="counter bg-danger">
                <i class="fas fa-bug "></i>
                <h3>3 </h3>
                <p>Erreurs Systeme</p>

            </div>

        </div>



    </div>
    <div class="row">
        <div class="col-8 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>
                        Table
                    </h3>

                    <i class=" fas fa-ellipsis-h "></i>

                </div>
                <div class="card-content">
                    <table>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Project</th>
                            <th>Manager</th>
                            <th>Status</th>
                            <th>Due date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>JEE</td>
                            <td>Foe</td>
                            <td>
                      <span class="dot">
                        <i class="bg-success"></i>
                        Completed
                      </span>
                            </td>
                            <td>28/01/2021</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Spring</td>
                            <td>Emma</td>
                            <td>
                      <span class="dot">
                        <i class="bg-danger"></i>
                        Uncompleted
                      </span>
                            </td>
                            <td>03/02/2021</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Android</td>
                            <td>Pierre</td>
                            <td>
                      <span class="dot">
                        <i class="bg-success"></i>
                        Completed
                      </span>
                            </td>
                            <td>06/03/2021</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>React</td>
                            <td>Didier</td>
                            <td>
                      <span class="dot">
                        <i class="bg-success"></i>
                        Completed
                      </span>
                            </td>
                            <td>28/01/2021</td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <div class="col-4 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>
                        Progress bar
                    </h3>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="card-content">
                    <div class="progress-wrapper">
                        <p>
                            Securisation application
                            <span class="float-right">10%</span>
                        </p>
                        <div class="progress">
                            <div class="bg-warning" style="width:10%;">

                            </div>

                        </div>

                    </div>
                    <div class="progress-wrapper">
                        <p>
                            Realisation application
                            <span class="float-right">50%</span>
                        </p>
                        <div class="progress">
                            <div class="bg-success" style="width:50%;">

                            </div>

                        </div>

                    </div>

                </div>


            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>Statistiques</h3>
                </div>
            </div>
            <div class="card-content">
                <canvas id="myChart"></canvas>

            </div>
        </div>
    </div>





</div>
<!-- Fin COntenu principal-->



<script th:src="@{assets/Chart.js-2.9.4/dist/Chart.min.js}"></script>
<script th:src="@{assets/js/index.js}"></script>
<script th:src="@{assets/js/jquery-3.5.1.js}"></script>


</body>
</html>
