<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Mybank Online</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0 ,minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/assetsdashboard/assets/images.png}">


    <!-- Importation de bibliotheques-->
    <link rel="stylesheet"   type="text/css"   th:href="@{/assetsdashboard/Chart.js-2.9.4/dist/Chart.min.css}">
    <link rel="stylesheet"   type="text/css"   th:href="@{/assetsdashboard/fontawesome-free-5.15.1-web/css/all.min.css}">
    <link rel="stylesheet"   type="text/css"   th:href="@{/assetsdashboard/css/style.css}">

    <!-- Fin Importation de bibliotheques-->

    <style>
        .images {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
        }

        .images:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
    </style>

</head>
<body class="overlay-scrollbar ">
<!-- Debut NavBar-->
<div class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" >
                <i class="fas fa-bars toggle "  onclick="collapseSidebar()"></i>

            </a>
        </li>
        <li class="nav-item">
            <img src="assets/images.png" alt="GessaLogo" class="logo">
        </li>

    </ul>
    <!-- <form class="navbar-search">
      <input type="text" name="search" class="navbar-search-input" placeholder="vous cherchez...">
      <i class="fas fa-search"></i>
    </form> -->
    <ul class="navbar-nav nav-right">
        <li class="nav-item">
            <a href="#" title="modifier theme" class="nav-link" onclick="switchTheme()">
                <i class="fas fa-moon dark-icon"></i>
                <i class="fas fa-sun light-icon"></i>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" title="notifications">
                <i class="fas fa-bell dropdown-toggle" data-toggle="notification-menu"></i>
                <span class="navbar-badge">15</span>
            </a>
            <ul id="notification-menu"  class="dropdown-menu notification-menu">
                <div class="dropdown-menu-header">
            <span>
              Notifications
            </span>
                </div>
                <div class="dropdown-menu-content overlay-scrollbar">
                    <li class="dropdown-menu-item">
                        <a href="#" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-gift"></i>
                            </div>
                            <span> Bienvenue sur Gesbiblio l'appli de gestion d'une bibliotheque.
                  <br>
                  <span> 30/12/2020</span>
                </span>

                        </a>
                    </li>
                </div>
                <div class="dropdown-menu-footer">
            <span>
              Consulter les notifications
            </span>
                </div>
                <li ></li>
            </ul>
        </li>
        <li class="nav-item">
            <div class="avatar dropdown">
                <img src="assets/avatar.png" title="profil" alt="user-image" class="dropdown-toggle" data-toggle="user-menu">
                <ul  id="user-menu"  class="dropdown-menu">
                    <li class="dropdown-menu-item">
                        <a href="#nowwhere" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-sign-out-alt"></i>
                            </div>

                            <span>Deconnexion</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</div>

<!-- Fin NavBar-->
<!-- Debut SideBar-->
<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a th:href="@{/dashboard/dashboard}" class="sidebar-nav-link ">
                <div>
                    <i class="fas fa-tachometer-alt"></i>
                </div>
                <span>
              Tableau de bord
            </span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link active">
                <div>
                    <i class="fas fa-users"></i>
                </div>
                <span>
             Client
            </span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-chart-line"></i>
                </div>
                <span>
            Statistiques
            </span>
            </a>
        </li>
    </ul>

</div>
<!-- Fin SideBar-->

<!-- Debut contenu principal-->
<div class="wrapper">
    <div class="row">
        <div class="col-3 col-m-6 col-sm-6">
            <div class="counter bg-success">
                <i class="fas fa-users"></i>
                <p>Client</p>
            </div>
        </div>

    </div>




    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>Liste des demandes de suppression de compte</h3>
                </div>
            </div>
            <div class="card-content ">
                <div class="row">
                    <div class=" col-12 col-m-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h3>
                                    Clients
                                </h3>
                                <form class="navbar-search">
                                    <input type="text" name="search" class="navbar-search-input" placeholder="vous cherchez...">
                                    <i class="fas fa-search"></i>
                                </form>

                                <i class=" fas fa-ellipsis-h "></i>

                            </div>
                            <div class="card-content">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Nom du client </th>
                                        <th>Numéro de compte</th>
                                        <th>Motif de suppression</th>
<!--                                        <th>Adresse</th>-->

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="demand: ${demands}" >
                                        <td th:text="${demand.name}" >1</td>
                                        <td th:text=" ${demand.accountNumber}">Michael</td>
                                        <td th:text=" ${demand.motif_suppression}">Michael</td>
<!--                                        <td  th:text=" ${account.client.address}">Michael</td>-->

                                        <td><a href="#"><i class="fas fa-eye trigger"  style="color: blue;"></i></a>&nbsp;
                                            <a th:href="@{/dashboard/deleteaccount(code=${demand.accountNumber})}">
                                            <i class="fas fa-check-circle "  style="color: green;">

                                            </i>
                                        </a>&nbsp;&nbsp;
                                            <a href="#"><i class="fas fa-times-circle "  style="color: red;">

                                            </i>
                                            </a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <br>
                                <br>
                                <div class="modal">
                                    <div class="modal-content">
                                        <span class="close-button">&times;</span>
                                        <div class="modal-header" style="background: var(--sucess-color)">

                                            <h2>Informations d'un client</h2>
                                        </div>
                                        <div class="modal-body">
                                            <form action="#" method="post" class="form-group">
                                                <a target="_blank" th:href="@{/assetsdashboard/assets/photo.jpg}">
                                                    <img class="images" th:src="@{/assetsdashboard/assets/photo.jpg}" alt="photo" style="width:150px">
                                                </a>
                                                <br>
                                                <br>
                                                <br>
                                                <div class="row">
                                                    <div class="col-m-6">
                                                        <label for="nom"><b>Name<span class="required">*</span></b></label>
                                                        <input type="text" class="form-control"  placeholder="Enter Name" name="nom" id="nom" required>

                                                    </div>
                                                    <div class="col-m-6">
                                                        <label for="prenom"><b>Surname <span class="required">*</span> </b></label>
                                                        <input type="text"  placeholder="Enter Firstname" name="prenom" id="prenom">

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-m-6">
                                                        <label for="birthday"><b>Birthday<span class="required">*</span></b></label>
                                                        <input type="date" class="form-control"   placeholder="Enter quantity" name="birthday" id="birthday" required>

                                                    </div>
                                                    <div class="col-m-6">
                                                        <label for="adress"><b>Adress<span class="required">*</span></b></label>
                                                        <input type="text"   placeholder="Enter the Adress" name="adress" id="adress" required>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-m-6">
                                                        <label for="mail"><b>Mail<span class="required">*</span></b></label>
                                                        <input type="email" class="form-control"   placeholder="Enter mail" name="mail" id="mail" required>

                                                    </div>
                                                    <div class="col-m-6">
                                                        <label for="phone"><b>Phone<span class="required">*</span></b></label>
                                                        <input type="text"   placeholder="Enter the Adress" name="phone" id="phone" required>

                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-m-6">
                                                        <label for="cni"><b>Cni<span class="required">*</span></b></label>
                                                        <a target="_blank" th:href="@{/assetsdashboard/assets/photo.jpg}" id="cni">
                                                            <img class="images" th:src="@{/assetsdashboard/assets/photo.jpg}" alt="photo" style="width:150px">
                                                        </a>

                                                    </div>
                                                    <div class="col-m-6">
                                                        <label for="loca"><b>Localisation<span class="required">*</span></b></label>
                                                        <a target="_blank" th:href="@{/assetsdashboard/assets/photo.jpg}" id="loca">
                                                            <img class="images" th:src="@{/assetsdashboard/assets/photo.jpg}" alt="photo" style="width:150px">
                                                        </a>

                                                    </div>
                                                </div>
                                                <br>
                                                <br>
                                            </form>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>







        </div>
    </div>
</div>

<!-- Fin COntenu principal-->
<!-- Fin COntenu principal-->
<!-- gestion du modal-->
<script>
    var modal = document.querySelector(".modal");
    var trigger = document.querySelector(".trigger");
    var closeButton = document.querySelector(".close-button");

    function toggleModal() {
        modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }

    trigger.addEventListener("click", toggleModal);
    closeButton.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);
</script>




<script th:src="@{/assets/Chart.js-2.9.4/dist/Chart.min.js}"></script>
<script th:src="@{/assets/js/index.js}"></script>
<script th:src="@{/assets/js/jquery-3.5.1.js}"></script>


</body>
</html>